/**
 * APL Admin UI CSS
 *
 * Scripts: jQuery, jQuery UI, jQuery UI Multiselect
 */

.ui-tabs-anchor {
	padding: .1em 1em !important;
}

.ui-multiselect-close {
	display: none;
}

.apl-filter-box-1 {
	display: flex;
	margin-bottom: 18px;
}

.apl-left-minibar {
	float: left;
	width: 20%;
}

.apl-filter-post-tax-query {
	float: left;
	width: 80%;
}

.apl-tabs-post_type-type {
	height: 405px;
}

.apl-tabs-post-type-taxonomies {
	height: 300px;
}

.apl-t-li-post-type {
	float: right !important;
}

.apl-t-li-post-type h5 {
	margin: initial;
}

.apl-tabs-post-type-taxonomies > ul {
	min-height: 22px;
}

.apl-t-terms {
	overflow-x: hidden !important;
}

.apl-t-terms label {}

.apl-filter-box-2 {
	display: flex;
	margin-bottom: 18px;
}

.apl-filter-box-2-left {
	float: left;
	margin-right: 3%;
	width: 57%;
}

.apl-filter-box-2-right {
	float: left;
	width: 40%;
}

.apl-filter-field-left-row {
	min-height: 42px;
}

.apl-filter-field-right-row {
	min-height: 42px;
}

.apl-filter-field-row-full {
	min-height: 42px;
}

.apl-filter-field-left-row > div:first-child {
	float: left;
	width: 35%;
}

.apl-filter-field-left-row > div:nth-child( 2 ) {
	float: left;
	width: 65%;
}

.apl-amount-alt {
	height: 27px;
    padding-top: 15px;
}

apl-filter-field-right-row > input {
	float: right;
}

apl-filter-field-right-row > input:after {
	clear: both;
}

.apl-ui-ms {
	display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
	
	padding: 0 !important;
}

.apl-ui-ms > span.ui-icon {
	right: 0.5em;
	left: auto;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}

.apl-ui-ms > span:nth-child(2) {
	float: left;
	text-align: left;
	padding: 0.4em 1.5em 0.4em 1em;
	display: block;
	line-height: 1.4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

button.apl-ui-ms-filter-2-row {
	width: 48.0% !important;
}

span.apl-ui-ms-filter-2-row {
	width: 47.2% !important;
}

input.apl-text-exclude-posts {
	width: 100%;
}

.apl-chkbox-input {
	float: right;
	margin-top: 5px !important;
}
