/**
 * APL Admin UI CSS
 *
 * @package advanced-post-list
 * @subpackage APL_Admin
 * @since 0.4.0
 */

/* TOOLTIPS */
.apl-help {
	cursor: help;
}

.apl-help-icon {
	color: #0073aa;
}

/* SETTINGS */
.apl-settings-row {
	display: flex;
	clear: left;
	min-height: 18px;
	margin-bottom: 18px;
}

.apl-settings-row > div {
	float: left;
}

.apl-row-first-cell {
	width: 36%;
}

.apl-cell-1of2 {
	width: 64%;
}
.apl-settings-row > input {
	float: left;
}

.apl-settings-row > textarea {
	margin-left: 36%;
	width: 64%;
}
